@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Frijole&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.backgroundbannerdivbox{
    background-image: url(../assets/backgroundBanner.jpeg);
    background-size: cover;
    background-position: center;
}
.HeaderNav{
    background-color: #2020204f;
    text-align: center;
    padding: 15px;
}
.HeaderNav a{
    text-align: center;
    text-decoration: none;
    padding: 80px 80px 20px 20px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-weight: 600;
    text-shadow: #00000031  2px 3px 2px ;
}
.HeaderNav a:hover{
    text-decoration: underline white;
    background-color: #383838c0;
}
.BannerBox{
    display: flex;
    justify-content: center;
    padding: 40px;
    border-bottom: solid #ffffff3a;
}
.FotoLucasClass img{
    width: 100%;
    border-radius: 50%;
    border: solid #ffffff 2px;
    background-color: #262626;
}
.h1Banner{
    padding: 40px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 4em;
}
.pBanner{
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    line-height: 22px;
    color: #aaaaa8;
    background-color: #00000049;
    padding: 10px;
}
.backgroundimageclass{
    background-image: url(../assets/fundo-preto-branco.JPG);
    background-size: cover;
    background-position: center right;
}
.ServicosBox{
    display: flex;
    padding: 50px;
    justify-content: center;
}
.servicosh2{
    padding: 80px;
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;
    color: #202020;
    border: solid rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.servicosh2ph{
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    padding: 20px;
    line-height: 20px;
    color: black;
}
.servicosP p{
    font-size: 1em;
    line-height: 2em;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.027);
    border: solid rgba(245, 245, 245, 0.205);
    border-radius: 10px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: white;
}
.servicosP p:hover{
    background-color: #70707021;
    color: white;
    cursor: pointer;
}
.ModelosExemplos h2{
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: #313131;
    text-shadow: #00000079  2px 3px 2px ;
}
span{
    color: #f1f1f1;
}
.carousel-image {
    width: 100%;
    height: auto;
    margin: auto;
}
.carousel-container {
    width: 95%;
    margin: 0 auto;
}
.agendeseuhorariobox{
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agendeLeft{
    padding: 80px;
    margin: auto;
    text-align: center;
}
.agendeLeft h3{
    padding: 30px;
    font-size: 5em;
    color: rgb(141, 139, 139);
    font-family: "Poppins", sans-serif;
}
.agendeLeft p{
    color: rgb(141, 139, 139);
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
}
.agendeRight{
    text-align: center;
    padding: 20px;
}
.agendeRight p{
    color: rgb(141, 139, 139);
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 20px;
}
.fotocadeira{
    width: 70%;
    border: solid #F2B705;
    background-color: #F2B705;
    border-radius: 50%;
}
.fotocadeira:hover{
    background-color: #b1880d;
    padding-right: 5px;
    cursor: pointer;
}
.redes{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.insta{
    padding: 15px;
    text-align: center;
}
.insta p{
    padding-bottom: 8px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    color: rgb(179, 176, 176);
}
.instalogo{
    width: 20%;
}
.whats{
    text-align: center;
}
.whats p{
    padding-bottom: 8px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    color: rgb(179, 176, 176);
}
.wpplogo{
    width: 20%;
}
.h3Frase{
    color: rgb(136, 135, 135);
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}
.footerbox{
    display: flex;
    background-color: #202020;
    border-top: solid #262626;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(179, 176, 176);
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
}
.imgfooter{
    width: 20%;
    margin: auto;
}

/* DISPOSITIVOS MÓVEIS */
@media (max-width: 480px) {
    .HeaderNav a {
        padding: 8px;
      }
      .FotoLucasClass img{
        width: 25vh;
    }
    .h1Banner{
        padding: 10px;
        font-family: "Roboto Mono", monospace;
        color: #ffffff;
        font-size: 1em;
    }
    .pBanner{
        font-family: "Roboto Mono", monospace;
        font-size: 1em;
        color: #aaaaa8;
        background-color: #00000049;
        padding: 5px;
    }
    .BannerBox{
        display: block;
        text-align: center;
    }
    .ServicosBox{
        display: block;
    }
    .servicosh2{
        padding: 10px;
        font-size: 3em;
    }
    .servicosh2ph{
        color: whitesmoke;
    }
    .agendeseuhorariobox{
        display: block;
    }
    .agendeLeft h3{
        padding: 15px;
        font-size: 2em;
        color: rgb(141, 139, 139);
        font-family: "Poppins", sans-serif;
    }
    .h3Frase{
        display: none;
    }
}
@media (max-width: 400px) {
    .HeaderNav a{
       font-size: 8px;
    }
}